.feed {
  width: 100%;
  margin: 10px 0;
  border: 3px solid green;
}

.articleList {
  width: 50%;
  border: 3px dotted green;

}

img {
  width: 200px;
}

.postArticle {
  width: 100%;
  border: 3px dotted green;
}
