<div class="feed">


<form class="postArticle">
  <h2> Add an Article </h2>
  <div>
    <label for="the-article-title-input"> Add the Title </label>
    <input type="text" name="title" [(ngModel)]="newFeed.title">
  </div>

  <div>
    <label for="the-article-author-input"> Add the Author</label>
    <input type="text" name="author" [(ngModel)]="newFeed.author">
  </div>

  <div>
    <label for="the-article-image-input"> Add the Image</label>
    <input type="text" name="image" [(ngModel)]="newFeed.image" >
  </div>

  <button (click)="submitNewFeed()"> Submit </button>
</form>


<div class="articleList" *ngFor="let item of articles">
  <img [src]="item.image">
  <h3> {{ item.title }} </h3>
  <p> {{ item.author }} </p>
  <p> {{ item.username }} </p>
  <p> {{ item.date | date:"yyyyMMMdd" | uppercase }} </p>
</div>




</div>
