<img class="banner" src="../assets/images/banner3.jpg" alt="">
<div class="navbuttons">
          <ul>
            <li><button class="waves-effect waves-light btn blue accent-1 z-depth-2" routerLink="feed">Home</button></li>
            <li><button class="waves-effect waves-light btn blue accent-1 z-depth-2" routerLink="about">About</button></li>

            <li><a class="waves-effect waves-light btn blue accent-1 z-depth-2" routerLink="login">Login</a></li>
            <!-- <li><button (click)="logout()" class="waves-effect waves-light btn blue accent-1 z-depth-2">Logout</button></li> -->
          </ul>
</div>




  <router-outlet></router-outlet>


<footer class="page-footer indigo darken-4">
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright
            <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
    </div>
</footer>
